/*Remove margin and padding from all elements*/
* {
  margin: 0;
  padding: 0;
}

/*Set font color and style for entire page*/
html {
  color: white;
  font-family: Bookman, URW Bookman L, serif;
}

/*align page vertically*/
body {
  display: flex;
  flex-direction: column;
}

/*Set background color, styling and alignment*/
header,
footer {
  background-color: rgb(0, 0, 56);
  height: 150px;
  display: flex;
  align-items: center;
}

/*Header spacing*/
header {
  justify-content: center;
  gap: 300px;
}

/*Search bar alignment and spacing*/
#searchBar {
  flex: 1;
  display: flex;
  align-items: flex-end;

  margin-bottom: 5px;
}

/*Title alignment and spacing*/
#titleDiv {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*Set form height and alignment*/
#formDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*Search bar input sizing, background color and border*/
#city {
  height: 20px;
  width: 300px;

  background-color: rgba(255, 255, 255, 0);
  color: whitesmoke;

  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid whitesmoke;
}

/*Set search button size*/
#searchBar img {
  height: 25px;
}

/*Set styling for error message*/
#errorDiv {
  font-size: 13px;
  padding-bottom: 25px;
  height: 25px;
}

footer {
  justify-content: center;
}

header img {
  justify-self: flex-start;
}

#dataDiv {
  background-color: rgba(92, 227, 227, 0.839);
  width: 200px;
}

#containerDiv {
  width: 500px;
}
